

@media screen and (max-width:768px) {
    
}

/* check answer color class */
/*need JS */
.correct {
    background-color: greenyellow;
}

.incorrect {
    background-color: rgb(243, 113, 113);
}



#hint-result {
    border-top: solid 2px #ffdd57;
    border-bottom: solid 2px #ffdd57;

}

#hint-result P {
    color:#fff;
}



input[type=text] {
    width: 20rem;
    padding: 7.5px 2px;
    margin: 2px 10px;
    box-sizing: border-box;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #555
}


input[type=text]:focus {
    background-color: rgb(226, 241, 246);
    border: 3px solid #555;
}


.question-button :hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #ffdd57;
}

.fixed-square {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 350px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -35px 35px 70px #2f8876,
    35px -35px 70px #3fb8a0;
    animation: wobble 1.0s ease-in-out infinite;
    z-index: 10; /* Set a higher z-index value than the footer */
    transition: box-shadow 0.9s ease-in-out;
    }
  
    @keyframes wobble {
      0% {
      transform: translate(2px, 2px);
      }
      25% {
      transform: translate(-2px, 2px);
      }
      50% {
      transform: translate(-2px, -2px);
      }
      75% {
      transform: translate(2px, -2px);
      }
      100% {
      transform: translate(2px, 2px);
      }
      }
  
  .fixed-square:hover {
    box-shadow:  -0px 0px 70px rgb(194, 207, 10),
             0px -0px 70px rgb(153, 184, 17);
  }