

#progressBar {
    width: 100%;
    height: 1rem;
    border: 3px solid grey;
    border-radius: 1rem;
    overflow: hidden;
    margin: 10px 0;
     
}

#progressBarFull {
   
    height: 100%;
    background-color:grey;
    /*start from 0% width adjust % percentage in JS*/
    /* set 50% for display purpose, should reset to 0% if js function works*/
    width: 40%;
}

.saveButton {
    justify-content: center;
}