* {
  background-color: #180344;
}

.welcome {
  font-size: 3rem; /* make the font size bigger */
  font-weight: bold; /* make the text bold */
  text-align: center; /* center the text */
  margin-bottom: 2rem; /* add some space between the text and the button */
  padding-top: 3rem;
  color: #FFD53D;
}

.buttonStart {
  margin-top: 2rem; /* add some space between the text and the button*/
  background-color: #FFD53D;
  color: #0067B3;
  font-weight: bold;
  
}

.buttonStart:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0.4rem 1.4rem 0 #FFD53D;
}

.title {
  margin-top: 3rem;
  color: #FFD53D;
  text-indent: 75px;
}

ul {
  font-size: 1.2rem;
  text-indent: 75px;
  color: #FFD53D;
}

li {
  padding-top: 0.5rem;/*adds spacing between items of the list*/
}

.final {
  font-size: 1.2rem; /* make the font size slightly bigger */
  font-weight: bold; /* make the text bold */
  text-align: center; /* center the text */
  margin-top: 5rem; /* add some space between the list and the final text */
  background-color: #FFD53D;
  color: #0067B3;
}


.fixed-square {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 150px;
  text-align: center;
  border-radius: 10px;
  box-shadow: -35px 35px 70px #2f8876,
  35px -35px 70px #3fb8a0;
  animation: wobble 1.0s ease-in-out infinite;
  z-index: 10; /* Set a higher z-index value than the footer */
  transition: box-shadow 0.9s ease-in-out;
  }

  @keyframes wobble {
    0% {
    transform: translate(2px, 2px);
    }
    25% {
    transform: translate(-2px, 2px);
    }
    50% {
    transform: translate(-2px, -2px);
    }
    75% {
    transform: translate(2px, -2px);
    }
    100% {
    transform: translate(2px, 2px);
    }
    }

.fixed-square:hover {
  box-shadow:  -0px 0px 70px rgb(194, 207, 10),
           0px -0px 70px rgb(153, 184, 17);
}
